@font-face {
  font-family: "BaeMinJeju";
  src: url("./asset/fonts/BMYEONSUNG_ttf.ttf") format("truetype");
}
.App {
  text-align: center;
  font-family: "BaeMinJeju";
}
.sections{
  border-bottom:10px solid #fefd496e;
  /* background-color: #eeeeee; */
}

/* first section */
.first_section{
  position: relative;
}
#canvas{
  width:100%;
  max-height:100vh;
  z-index: 0;
  /* display: flex; */
  /* justify-content: center; */
}
.first_section span{
  font-weight: 700;
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size:calc(100vw * (60 / 428));
  color:#002863;
}

/* second section */
.jeju_map{
  width: 100%;
  height: 460px;
}
